.commentBody {
  height: 100vh;
  position: fixed;
  display: flex;
  margin-left: 400px;
  align-items: center;
  width: calc(100% - 70%);
  justify-content: center;
  right: 0;
  background-color: white;
  right: 0;
  min-width: 500px;
  box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
  0px 5px 5px rgba(3, 7, 18, 0.03),
  0px 12px 12px rgba(3, 7, 18, 0.05),
  0px 20px 22px rgba(3, 7, 18, 0.06),
  0px 32px 34px rgba(3, 7, 18, 0.08);
  

  @media only screen and (max-width: 900px) {
    width: 100%;
    margin-left: 0;
  }

  > .comments {
    width: 100%;
    background-color: white;
    height: 100%;
    padding: 10px 30px;
    overflow-y: scroll;

    > .heading {
      display: flex;
   

      >button{
        border: none;
        width: 30px;
        margin-right:  20px;
        font-size: larger;
        background-color: white;
      }
      > h6 {
        font-size: xx-large;
      }
    }

    >.comment{

        display: flex;
        gap: 20px;
        margin: 30px;
   
      >.profile{
        height: 30px;
        width: 30px;
     background-color: black;
     border-radius: 50%;
     background-image: url(../assets/profilepic.jpeg);
     background-position: center;
     background-size: cover;
      }
      
      div>.heading{
        display: flex;
        gap: 10rem;

        >h5>button{
          border: none;
          background-color: white;
          

          >svg{
            color: red;
            margin-left: 10px;
            font-size: large;
          
   
          }
        }
      }

      
    }


    >.addComment{
      margin: 80px;
   

     >textarea{
      border: none;
      border-bottom: 1px solid black;
      width: 80%;
     }
     >button{
      border: none;
      padding: 10px 20px;
      box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
0px 5px 5px rgba(3, 7, 18, 0.03),
0px 12px 12px rgba(3, 7, 18, 0.05),
0px 20px 22px rgba(3, 7, 18, 0.06),
0px 32px 34px rgba(3, 7, 18, 0.08);
border: 1px solid black;

        

     }
      

    }
  }
}
