
.commentBody{
    height: 100vh;
    position: fixed;
    display: flex;
    margin-left: 400px;
    align-items: center;
    width: calc(100% - 400px);
    justify-content: center;
background-color:white;

    @media only screen and (max-width: 900px) {
        width: 100%;
        margin-left: 0;
      }

      >.comments{
        width: 80%;
        background-color: rgba(168, 118, 118,0.5);
        height: 60%;
      }

    }
