.manage-flights-body{




>.add-flight{
    padding: 8px 20px;
    
}

>.addFlight{
    width: 100%;
    position: fixed;
    display: flex;

 justify-content: flex-start;
 margin-top: 20px;

   

 >.container{
width: 70%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    
    gap: 20px;


    >input,select{
min-width: 300px;
        height: 40px;
    }
    >button{
        width: 100px;
        height: 40px;
        font-size: large;
   
    }

 }

}


>.flight-edit-body{
>select,input,button{
    min-width: 400px ;
    height: 50px;
    margin: 10px;
}
}

}




>.edit-delete-btn{
    background-color: red;


}



#edit-btn{

 
    border: none;
    margin: 0 5px ;
    background-color: white;
    >svg{
        color: green;
    }
 
}

#delete-btn{
 
    margin: 0 5px ;
    border: none;
    background-color: white;
    >svg{
        color: red;

    }
}